* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.cadastro__button{
    background-color: #1C4595;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
}
.cadastro{
    width: 25%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF9922;
    padding: 3rem;
    border-radius: 10px;
    margin-bottom: 50px;
}
.img__cadastro{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10%;
    max-width: 300px;
    max-height: 100%;
    height: 100vh;
}
.img__cadastro img{
    width: 550px;
    height: auto;
}
.cadastro__title {
    font-size: 30px;
    font-weight: bold;
}
.cadastro__registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cadastro__registro input{
    width: 280px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.cadastro__registro input::placeholder{
    text-align: center;
}
.containerFormularioImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
