body{
    font-family: "Poppins", sans-serif;
    background-image: url(../images/home-quadrinho.png);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header{
    background-color: #1C4595;
    padding: 20px;
    color: white;
    text-align: right;
    height: 5vh;
    align-items: center;
    display: flex;

}

.header__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__logo{
    max-width: 150px;
    height: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__nav, .header__login{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__divisor{
    background-color: #FF9922;
    width: 2px;
    height: 30px;
    margin: 0 40px;
}

.header__link{
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.header__button{
    background-color: #FF9922;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 40px;

}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
}

.quadrinho{
    width: 100%;
    display: block;
    height: 100vh;
    background-image: url();
}

.footer__faixa{
    background-color: black;
    color: white;
    padding: 60px 0 40px;
}

.footer__image{
    max-width: 94vw;
    margin-bottom: -55px;
}

.footer__text span{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}