* {
    margin: 0;
    padding: 0;
}
.login__button{
    background-color: #1C4595;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;
}
.login{
    width: 25%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF9922;
    padding: 3rem;
    border-radius: 10px;
    margin-bottom: 50px;
}
.img__login{
    width: 50%;
    /* height: 250px; */
    /* position: absolute; */
    /* top: 0;
    right: 120px; */
}
.containerFormularioImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}