.criador__title{
    color: #000000;
    font-weight: 900;
    font-size: 130px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.criador{
    background-color: #FFFFFF;
    max-width: 100%;
    height: 90vh;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.criador__capa{
    height: 80vh;
    max-width: 100%;
    background-size: 100%;
    width: 100%;
}

.criador__akira{
    width: 350px;
    height: 70%;
    top: 0;
    flex-direction: row-reverse;
    margin-top: 80px;
}

.criador__txt{
    width: 700px;
    height: 700px;
    font-size: 24px;
    text-align: justify;
    margin-top: 80px;
}

.criador__2{
    background-color: rgba(28, 69, 149, 0.67);
    max-width: 100%;
    height: 90vh;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.criador__txt2{
    width: 700px;
    height: 700px;
    font-size: 24px;
    text-align: justify;
    margin-top: 80px;
    color: #FFFFFF;
}