.personagem__title{
    color: #000000;
    font-weight: 900;
    font-size: 75px;
    text-transform: uppercase;
    text-align: justify;
}

.dashboard__capa{
    height: 90vh;
    max-width: 100%;
    background-size: 100%;
    width: 100%;
}

.personagens{
    background-color: #FFFFFF;
    width: 100%;
    height: 10vh;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.firstCardsContainer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.secondCardsContainer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 20%;
    height: 80%;
    border: 2px solid #FF9922;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    width: 22%;
    height: 85%;
}

.cardTitle {
    width: 100%;
    height: 20%;
    background-color: #1C4595;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.imgContainer {
    width: 100%;
    height: 80%;
    background-size: cover;
}
.imgGoku {
    background-image: url(https://pbs.twimg.com/media/GIOboyqXIAIX6VM?format=png&name=900x900);
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

#graph{
    background-color: #FFFFFF;
}

.imgVegeta {
    background-image: url(https://pbs.twimg.com/media/FidlHpiXEAAVcoq?format=jpg&name=900x900);
}

.imgGohan {
    background-image: url(https://pbs.twimg.com/media/GPPIRTeXMAE6XI5?format=jpg&name=900x900);
    
}

.imgPiccolo {
    background-image: url(https://assets.mycast.io/actor_images/actor-piccolo-dragon-ball-129934_large.jpg?1601272982);
}

.imgFrezza {
    background-image: url(https://i.pinimg.com/564x/e8/e6/e2/e8e6e2e2995847bbc94d82141d820426.jpg);
}

.imgTrunks {
    background-image: url(https://pbs.twimg.com/media/GMOX4LJWMAEfc2z?format=jpg&name=900x900);
}

