body{
    font-family: "Poppins", sans-serif;
}

.header{
    background-color: #1C4595;
    padding: 20px;
    color: white;
    text-align: right;

}

.header .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header__nav, .header__login{
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__divisor{
    background-color: #FF9922;
    width: 2px;
    height: 30px;
    margin: 0 40px;
}

.header__link{
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.header__button{
    background-color: #FF9922;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 40px;

}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
}

.footer__faixa{
    background-color: black;
    color: white;
    padding: 60px 0 40px;
}

.footer__image{
    max-width: 94vw;
    margin-bottom: -55px;

}